<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register - Story Blog</title>
</head>
<body>
  {% extends "base.html" %}
  {% block content %}
    <div class="card">
      <h1>Register</h1>
      <form action="{{ url_for('register') }}" method="POST">
        <label for="reg_username">Username:</label><br>
        <input type="text" id="reg_username" name="reg_username" required><br><br>
        <label for="reg_password">Password:</label><br>
        <input type="password" id="reg_password" name="reg_password" required><br><br>
        <button type="submit" class="btn">Register</button>
      </form>
    </div>
  {% endblock %}
</body>
</html>