
<!DOCTYPE html>
    <head>
        <title>
            Template for Success

        </title>
        <style>
        STYLE
        </style>
        <h1>Team Name: Wild Blasters - Roster: Stanley Hoo, Marco Quintero, Dua Baig</h1>

    </head>
    <body>
        <p>Period 4</p>
<p>Personal care and service</p>

        <table class="table" border=1>
            <thead>
                <th>Occupations</th><th>Percent</th>
            </thead>
            <tbody>
                <tr><td><a href=https://www.bls.gov/ooh/management/>Management</a></td><td>6.1</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/business-and-financial/>Business and Financial operations</a></td><td>5.0</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/computer-and-information-technology/>Computer and Mathematical</a></td><td>2.7</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/architecture-and-engineering/>Architecture and Engineering</a></td><td>1.7</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/life-physical-and-social-science/>Life, Physical and Social Science</a></td><td>0.9</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/community-and-social-service/>Community and Social Service</a></td><td>1.6</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/legal/>Legal</a></td><td>0.8</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/education-training-and-library/>Education, training and library</a></td><td>6.1</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/arts-and-design/>Arts, design, entertainment, sports and media</a></td><td>1.7</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/healthcare/>Healthcare practioners and technical</a></td><td>5.5</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/personal-care-and-service/>Healthcare support</a></td><td>2.8</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/protective-service/>Protective service</a></td><td>2.3</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/food-preparation-and-serving/home.htm>Food preparation and serving</a></td><td>8.3</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/building-and-grounds-cleaning/home.htm>Building and grounds cleaning and maintenance</a></td><td>3.7</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/personal-care-and-service/>Personal care and service</a></td><td>4.0</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/sales/>Sales</a></td><td>10.2</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/office-and-administrative-support/>Office and administrative support</a></td><td>15.1</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/farming-fishing-and-forestry/>Farming, fishing and forestry</a></td><td>0.6</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/construction-and-extraction/>Construction and extraction</a></td><td>4.3</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/installation-maintenance-and-repair/>Installation, maintenance and repair</a></td><td>3.8</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/production/>Production</a></td><td>6.1</td></tr>
	<tr><td><a href=https://www.bls.gov/ooh/transportation-and-material-moving/>Transportation and material moving</a></td><td>6.5</td></tr>
            </tbody>
        </table>
    </body>
</html>
